<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dad Joke Strava Title</title>
  <div th:replace="fragments/layout :: css"/>
</head>
<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/awesome-face-large.png" />
    </a>
    <h1>Dad Joke Strava Title Generator</h1>
    <p>Are you sick of boring titles such as "Morning swim" and "Evening run"? Well, you are in luck! this app will generate a funny Dad joke title just for you. So just sit back and enjoy the kudos</p>
    <a type="button" class="btn btn-lg btn-default" href="https://dad-joke-strava-title.herokuapp.com/register"><span class="glyphicon glyphicon-flash"></span> Register</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/yonidoronpeters/dad-joke-strava-title"><span class="glyphicon glyphicon-download"></span> Source code on GitHub</a>
  </div>
</div>
<div class="container">
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Disclaimer</h3>
      <ul>
        <li>This app uses <a href="https://icanhazdadjoke.com">https://icanhazdadjoke.com</a> to generate random Dad jokes. I have no control over which jokes are used.</li>
        <li>Using this app is completely optional and comes with 0 liabilities.</li>
        <li>You can always opt out by going to your Strava settings > <a href="https://www.strava.com/settings/apps">My Apps</a> > Revoke Access to "Dad joke title generator".</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li><a href="https://dad-joke-strava-title.herokuapp.com/register">Click here</a> and authorize the app.</li>
        <li>It will request access to <i>"Upload your activities from Dad joke title generator to Strava"</i>, however this app will never create/upload activities for you, it will only change the title and description. This permission is <b>required</b> in order for the app to work.</li>
        <li>If you choose to opt out of <i>"View data about your private activities"</i> the app will still work just fine. But will not be able to change the title for your private activities.</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
