<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dad Joke Strava Title</title>
  <div th:replace="fragments/layout :: css"/>
</head>
<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/awesome-face-large.png" />
    </a>
    <h1>Dad Joke Strava Title Generator</h1>
    <p>Are you sick of boring titles such as "Morning swim" and "Evening run"? Well, you are in luck! this app will generate a funny Dad joke title just for you. So just sit back and enjoy the kudos</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.titleworkout.pro/register"><span class="glyphicon glyphicon-flash"></span> Register</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/yonidoronpeters/dad-joke-strava-title"><span class="glyphicon glyphicon-download"></span> Source code on GitHub</a>
  </div>
</div>
<div class="container">
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Disclaimer</h3>
      <ul>
        <li>You can request a new title by renaming your activity to <i>"next title"</i> or simply <i>"n"</i> (without quotes).</li>
        <li>This app uses <a href="https://icanhazdadjoke.com">https://icanhazdadjoke.com</a> to generate random Dad jokes.</li>
        <li>You can always opt out by going to your Strava settings > <a href="https://www.strava.com/settings/apps">My Apps</a> > Revoke Access to "Dad joke title generator".</li>
        <li>Using this app is completely optional and comes with 0 liabilities.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li><a href="https://www.titleworkout.pro/register">Click here</a> and authorize the app.</li>
        <li>It will request access to the minimal permissions it needs in order to work. Please leave all permissions ticked and click <i>Authorize</i>.</li>
        <li>Please report any bugs <a href="https://github.com/yonidoronpeters/dad-joke-strava-title/issues">here</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
