<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dad Joke Strava Title</title>
  <div th:replace="fragments/layout :: css"/>
</head>
<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/awesome-face-large.png" />
    </a>
    <h1>Guy told me today he did not know what cloning is. I told him, "that makes 2 of us."</h1>
    <p>Success! Your new activities will now have a funny title 🏆</p>
  </div>
</div>

</body>
</html>
